In [1]:
print(123123123123123123123123123123123123123123123123 + 1)

123123123123123123123123123123123123123123123124

In [2]:
print(10)
print(type(10))

10
<class 'int'>

In [3]:
print(4.2)
print (type (4.2))
print(4.)
print(.2)
print(.4e7)
print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

In [5]:
print("Hactive8")
print(type("Hactive*"))

Hactive8
<class 'str'>

In [6]:
print('')
print("This string contains a single quote (') character.")
print('This string contains a double quote (") character.')

This string contains a single quote (') character.
This string contains a double quote (") character.

In [7]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [8]:
n = 300
print(n)

300

In [9]:
n

300

In [10]:
n = 100 
print(n)


n

100

100

In [11]:
a = b = c = 300
print(a,b,c)

300 300 300

In [12]:
var = 23.5
print(var)
var = "Now I'm a string"
print(var)

23.5
Now I'm a string

In [13]:
name = "Hacktiv8"
Age = 54
has_laptops = True
print(name, Age, has_laptops)

Hacktiv8 54 True

In [14]:
9_kepala_naga = True

SyntaxError: ignored

In [15]:
age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6
age_ = 7
_AGE_ = 8
print(age, Age, aGe, AGE, a_g_e, _age, age_ ,_AGE_)

1 2 3 4 5 6 7 8

In [16]:
a = 10
b = 20
a + b

30

In [17]:
a + b -5

25

In [18]:
a =4
b = 3
print(a + b)
print (a - b)
print(a * b)
print(a/b)
print(a % b)
print(a ** b)

7
1
12
1.3333333333333333
1
64

In [19]:
10/5

2.0

In [20]:
a = 10
b = 20
print(a == b)
print(a != b)
print(a <= b)
print(a >= b)
a = 30
b = 30
print(a == b)
print(a <= b)
print(a >= b)

False
True
True
False
True
True
True

In [24]:
s = 'foo'
t ='bar'
u = 'baz'
print(s + t)
print(s + t + u)
print('Hacktiv8 ' + 'PTP')

foobar
foobarbaz
Hacktiv8 PTP

In [26]:
s = 'foo.'
s*4

'foo.foo.foo.foo.'

In [27]:
s = 'foo'
print(s in 'That food for us')
print(s in 'That good for us')

True
False

In [29]:
# Case Conversion
s = "HackTIV8"
# Capitalize
print (s.capitalize())
# Lower
print(s.lower())
# Swapcase
print(s.swapcase())
# Title
print(s.title())
# Uppercase
print(s.upper())

Hacktiv8
hacktiv8
hACKtiv8
Hacktiv8
HACKTIV8

In [30]:
a = ['foo','bar','baz','qux']
print(a)

['foo', 'bar', 'baz', 'qux']

In [32]:
a = ['foo','bar','baz','qux']
b = ['baz','qux', 'bar','foo']
a == b

False

In [34]:
a = [21.42, 'foobar', 3, 4, 'bark', False, 3.14159]
print(a)

[21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

In [35]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
print(a[0])
print(a[5])

foo
corge

In [36]:
print(a[-1])
print(a[-6])

corge
foo

In [37]:
a[2:5]

['baz', 'qux', 'quux']

In [38]:
print(a)
print(a + ['grault', 'garply'])
print(a*2)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [39]:
print(a)
print(len(a))
print(min(a))
print(max(a))

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
6
bar
qux

In [43]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
print(a)
a[2] = 10
a[-1] = 20
print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 10, 'qux', 'quux', 20]

In [44]:
del a[3]
print(a)

['foo', 'bar', 10, 'quux', 20]

In [45]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge ']
print(a[1:4])

a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]
print(a)

['bar', 'baz', 'qux']
['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge ']

In [49]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
print(t)

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [50]:
print(t[0])
print(t[-1])

foo
corge

In [51]:
(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux')
s1

'foo'

In [54]:
MLB_team = {
'Colorado': 'Rockies',
'Boston': 'Red Sox',
'Minnesota':'Twins ',
'Milwaukee': 'Brewers',
'Seattle': 'Mariners'
}

In [55]:
print(MLB_team['Minnesota'])
print(MLB_team['Colorado'])

Twins
Rockies

In [56]:
MLB_team['Kansas City'] = 'Rolays'
MLB_team

{'Boston': 'Red Sox',
 'Colorado': 'Rockies',
 'Kansas City': 'Rolays',
 'Milwaukee': 'Brewers',
 'Minnesota': 'Twins ',
 'Seattle': 'Mariners'}

In [57]:
MLB_team['Seattle'] = 'Seahawks'
MLB_team

{'Boston': 'Red Sox',
 'Colorado': 'Rockies',
 'Kansas City': 'Rolays',
 'Milwaukee': 'Brewers',
 'Minnesota': 'Twins ',
 'Seattle': 'Seahawks'}

In [58]:
del MLB_team['Seattle']
MLB_team

{'Boston': 'Red Sox',
 'Colorado': 'Rockies',
 'Kansas City': 'Rolays',
 'Milwaukee': 'Brewers',
 'Minnesota': 'Twins '}

In [64]:
person = {}
type(person)
person['fname'] = 'Hack'
person['lname'] = 'PTP'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = [ 'Ralph', 'Betty']
person['pets'] =  {'dog': 'Fido', 'cat': 'Sox'}

person

{'age': 51,
 'children': ['Ralph', 'Betty'],
 'fname': 'Hack',
 'lname': 'PTP',
 'pets': {'cat': 'Sox', 'dog': 'Fido'},
 'spouse': 'Edna'}

In [65]:
print(person['fname'])
print(person['lname'])

Hack
PTP

In [66]:
print(person['children'])
print(person['children'][1])

['Ralph', 'Betty']
Betty

In [67]:
print(person['pets'])
print(person['pets']['cat'])

{'dog': 'Fido', 'cat': 'Sox'}
Sox

In [68]:
# Built-in Methods
d = {'a': 10, 'b': 20,'c':30}
# items
print(d.items())
# keys
print(d.keys())
# values
print(d.values())

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

In [73]:
person1_age = 42
person2_age = 16
person3_age = 71
someone_is_of_working_age = (person1_age >= 18 and person1_age <= 65) or (person2_age >= 18 and person2_age <= 65) or (person3_age >= 18 and persons3_age <= 65)
someone_is_of_working_age

True

In [74]:
someone_is_of_working_age = (
    (person1_age >= 18 and person1_age <= 65)
    or (person2_age >= 18 and person2_age <= 65)
    or (person3_age >= 18 and persons3_age <= 65)
)
someone_is_of_working_age

True